
.body {
  padding-top: 56px;
  background: #ffc55c;
  background-color: gray;
}

#lista {
  background-color: #f0b4007e;

}

.botondecompras {
  background: #fcc169;
  color: #ff7315;
  margin-left: 5px;
}


