body {
  text-transform: capitalize;
}
.nav-item {
  padding-left: 15px;
}
/* CAROUSEL */
.carousel-item {
  height: 65vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

/* NOSOTROS */
.jumbotron-fluid {
  background-color: #f0b500;
  text-transform: capitalize;
}
#nosotros {
  padding: 5%;
}
#texto_medio {
  margin: auto;
}
/*PREGUNTAS*/

#preguntasTexto {
  padding: 5%;
}
.accordion {
  padding-bottom: 25px;
}
#card {
  background-color: #28a745;
}
.card-body {
  background-color: #f0b500;
}
span {
  color: white;
}
/*CONTACTO*/
#contacto {
  background-color: #f0b500;
}
section #transparente {
  background-color: #ffe38f;
}
.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.accent-1 {
  background-color: #82b1ff;
  border-radius: 50%;
  padding: 5px;
  margin: 15px;
}
/* FOOTER */

.flex-container .img-top {
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #000;
}

.flex-container > div {
  background-color: #000;
  width: 100px;
  margin: 10px;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}

.accent2 {
  color: #000;
  background-color: #f0b500;
  border-radius: 50%;
  padding: 5px;
}
/* REGISTRARSE y  INICIAR SESION */
#formularioGeneral {
  background-image: url(../img/barriles1.jpg);
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
}
#formulario {
  margin: 0 auto;
}
