/* header */
#logoHeader {
  max-width: 100%;
  margin-top: -20px;
  margin-left: -15px;
  margin-bottom: -15px;
  padding: 1px;
}

#menuHeader {
  padding: 10;
  float: right;
}
#avatarHeader {
  padding: 0;
  width: 50px;
}
/*MI CUENTA HEADER*/
/* #miCuentaHeader {
  padding-top: 10%;
}


#carritoHeader{
  padding-top: 10%; 

} */
/* .nav-item (header, detalle producto, Shop, y todos los lugares donde esta .nav-item */
.nav-item {
  padding-left: 15px;
}
/* CAROUSEL */
.carousel-item {
  height: 90vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}

/* NOSOTROS */
.jumbotron-fluid {
  background-color: #ffc107;
}
#nosotros {
  padding: 1%;
}
#texto_medio {
  margin: auto;
}
.img-fluid {
  padding: 0%;
}
/*PREGUNTAS*/
.preguntas {
  background-color: black;
}
#preguntasTexto {
  padding: 5%;
}
.accordion {
  padding-bottom: 25px;
}
#card {
  background-color: #343a40;
}
.card-header {
  background-color: #343a40;
}

.card-body-faq {
  background-color: #ffc107;
  padding: 10px;
}

.span {
  color: white;
}
#sp_resp_1,
#sp_resp_2,
#sp_resp_3,
#sp_resp_4,
#sp_resp_5 {
  color: black;
}

/*CONTACTO*/
#contacto {
  background-color: #ffc107;
}
section #transparente {
  background-color: #ffe38f;
}
.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
.accent-1 {
  background-color: black;
  border-radius: 50%;
  padding: 3px;
  margin: 15px;
}
/* FOOTER */
#footer{
  width: 100%;
}
.flex-container .img-top {
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100%;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #000;
}

.flex-container > div {
  background-color: #000;
  width: 100%;
  margin: 10px;
  text-align: center;
  line-height: 80px;
  font-size: 30px;
}

.accent2 {
  color: #000;
}
i.icono {
  background-color: #f0b500;
  border-radius: 100%;
  padding: 4px 10px;
}
/* REGISTRARSE y  INICIAR SESION */
#formularioGeneral {
  background-image: url(../img/barriles1.jpg);
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
  background-attachment: fixed;

}
#formulario  {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);

}

/* SHOP */
.site {
  background-image: url("../img/canillabirra.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

}
#categoriasTienda {
  padding-top: 0px;
}
.fm-nav a {
  color: #fff;
  padding: 10px;
}

.fm-nav a:hover {
  background: rgba(255, 255, 255, 0.1);
}

.gradiente {
  background-color: #000 !important;
}

/* DETALLE PRODUCTO */
.body {
  padding-top: 56px;
  background: #ffc55c;
  background-color: gray;
}

#lista {
  background-color: #f0b4007e;
}

.botondecompras {
  background: #fcc169;
  color: #ff7315;
  margin-left: 5px;
}

/*Carrito*/
.input-res {
  width: 100%;
  min-width: 10px;
  max-width: 50px;
  box-sizing: border-box;
}
/* MI CUENTA */

#fondoMiCuenta {
  background-attachment: fixed;
  background-image: url(../img/canillabirra.jpg);
}
#micuenta{
    background-color: rgba(255, 255, 255, 0.8);
}
#contenido1 {
  margin-bottom: 40px;
}
#avatar {
  border-radius: 4px;
  font-size: 12px;
}
