/* header */
#logoHeader {
  max-width: 100%;
  min-width: 200px;
  margin-top: -20px;
  margin-left: -15px;
  margin-bottom: -15px;
  padding: 1px;
}
#menuHeader {
  padding: 10;
  float: right;
}
#avatarHeader {
  padding: 0;
  width: 30px!important;
  height: 30px!important;
}
/*MI CUENTA HEADER*/
/* #miCuentaHeader {
  padding-top: 10%;
}
#carritoHeader{
  padding-top: 10%;
} */
/* .nav-item (header, detalle producto, Shop, y todos los lugares donde esta .nav-item */
.nav-item {
  padding-left: 15px;
}

/* Modifique esta linea para que no tenga padding el header */
#navbarTogglerDemo02-1{
padding-left: 16%;
}


/* CAROUSEL */
.carousel-item {
  height: 90vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  background-size: cover;
}
#texto-carrousel{
  background-color: rgba(0, 0, 0, 0.18);
  padding-top: 0;
  padding-bottom: 1;
  padding-left: 0;
  padding-right: 0;
}

/* NOSOTROS */
.jumbotron-fluid {
  background-color: #ffc107;
}
#nosotros {
  padding: 1%;
}
#texto_medio {
  margin: auto;
}
.img-fluid {
  padding: 0%;
}
/*PREGUNTAS*/
.preguntas {
  background-color: black;
}
#preguntasTexto {
  padding: 5%;
}
.accordion {
  padding-bottom: 25px;
  text-align: center;
}
#card {
  background-color: #343a40;
}
.card-header {
  background-color: #343a40;
}

.card-body-faq {
  background-color: #ffc107;
  padding: 10px;
}

.span {
  color: white;
}
#sp_resp_1,
#sp_resp_2,
#sp_resp_3,
#sp_resp_4,
#sp_resp_5 {
  color: black;
}

/*CONTACTO*/
#contacto {
  background-color: #ffc107;
}
section #transparente {
  background-color: #ffe38f;
}
.map-container-6 {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}
.map-container-6 iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}
#contactoiconos .feather {
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
}
p {
  margin-bottom: 0rem;
}
/* FOOTER */
#footer{
  width: 100%;
  z-index: 100;
  position: relative;
}
.flex-container .img-top {
  background-color: #000;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  min-width: 50px;
}

.flex-container {
  display: flex;
  justify-content: center;
  flex-direction: row;
  background-color: #000;
  padding: 0.5%;
}

.flex-container > div {
  background-color: #000;
  width: 100%;
  text-align: center;
  font-size: 30px;
  align-self: center;
}

.accent2 {
  color: #000;
}


#iconos-footer {
  background-color: #ffc107;
  border-radius: 100%;
  padding: 4px 10px;
}
#footericonos .feather {
  width: 30px;
  height: 30px;
  vertical-align: text-bottom;
}

#iconos-footer.feather {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: auto;
    min-width: 50px;
}
/* icono youtube */
#youtube{
    padding: 4px 10px;
}
a#git{
  text-decoration: none;
  color: #000;
}
.card-footer{
  padding: 0.3%;
}


/* REGISTRARSE y  INICIAR SESION */
#formularioGeneral {
  background-image: url(../img/barriles1.jpg);
  background-size: cover;
  padding-bottom: 30px;
  padding-top: 30px;
  background-attachment: fixed;

}
#formulario  {
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.9);

}

/* SHOP */
.site {
  background-image: url("../img/canillabirra.jpg");

  background-attachment: fixed;

}
#categoriasTienda {
  padding-top: 0px;
}
#sidebar-categorias{
  background-color: rgba(0, 0, 0, 0.9);
}
.fm-nav a {
  color: #fff;
  padding: 10px;
}

.fm-nav a:hover {
  color: #ffc107;
}

.gradiente {
  background-color: #000 !important;
}

/* DETALLE PRODUCTO */
.body {
  padding-top: 56px;
  background: #ffc107;
  background-color: gray;
}

#lista {
  background-color: #f0b4007e;
}

.botondecompras {
  background: #ffc107;
  color: #ff7315;
  margin-left: 5px;
}

/*Carrito*/
.carrito-section{
  background-attachment: fixed;
    background-image: url("../img/canillabirra.jpg");
}
#carrito{
  background-color: rgba(255, 255, 255, 0.9);
  border-color: black;
  width: 90%;
  height: auto;
}
#tabla-carrito{
  background: #ffc10796;
  width: 100%;
  max-width: auto;
  box-sizing: border-box;
}
.input-res{
  width: 100%;
  max-width: auto;
  box-sizing: border-box;
}

a#continuar{
  color: #000;
  text-decoration: none;
}
a:hover {
  color: white;
}
/* MI CUENTA */

#fondoMiCuenta {
  background-attachment: fixed;
  background-image: url(../img/canillabirra.jpg);
}
#micuenta{
    background-color: rgba(255, 255, 255, 0.8);
}
#contenido1 {
  margin-bottom: 40px;
}
#avatar {
  height: 150px!important;
  width: 150px!important;
}


/* PANEL DE CONTROL - ADMIN PANEL */

#bodyAdmin {
  background-attachment: fixed;
  background-image: url(../img/canillabirra.jpg);
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 50;
  bottom: 0;
  left: 0;
  padding: 0;
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
#menuAdmin{
  position: absolute;
  top: 30%;
  z-index: 0;
}
.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky; /* Height of navbar */
  height: 100vh;
  padding-top: 4rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ffc107;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #ffc107;
}

.sidebar .nav-link.active {
  color: #ffc107;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: white;
}
.sidebar .nav-link:hover{
  color: white;
}
.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
#sidebar{
   background-color: #343a40e8;
}

#adminusuarios{
  background-color: rgba(255, 255, 255, 0.8);
}
/*
 * Utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

#graph{
  background-color: rgba(255, 255, 255, 0.9);
}

/*CHECKOUT*/
.checkout{
  background-image: url(../img/canillabirra.jpg);
  background-attachment: fixed;
}
#checkout-transparente{
  background-color: rgba(255, 255, 255, 0.9);
  padding-left: 5%;
  padding-right: 5%;
  width: 95%;
}

/*TABLAS*/
th{
  text-align: center;
}
tbody{
  text-align: center;
}
